footer {
  background-color: var(--text-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1164px;
  padding: 40px 24px 24px;
}

footer .footer p {
  font-size: var(--body-font-size-xxs);
  color: var(--light-color);
  line-height: 1.25;
}

footer .footer a {
  color: var(--link-color);
  text-decoration: underline;
}

footer .footer-nav div {
  display: flex;
}

footer .footer-nav p {
  margin: 0;
}

footer .footer-nav img {
  width: 128px;
  height: auto;
}

footer .footer-nav ul {
  display: flex;
  align-items: center;
  margin: 0 0 0 20px;
  list-style: none;
}

@media (width >= 600px) {
  footer .footer > div {
    padding: 40px 32px 24px; 
  }

  footer .footer-top ul {
    margin: 18px 0 0; 
    justify-content: center; 
  }

  footer .footer-top ul li a {
    padding: 10px 12px 0; 
  }
}

footer .footer-nav ul li a {
  font-size: var(--body-font-size-xs);
  color: var(--light-color);
  padding: 15px 17px;
  text-decoration: none;
}

footer .footer-nav ul li a:hover {
  text-decoration: underline;
}

footer .footer-details {
  margin-top: 40px;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 16px 32px;
  }
}
